<form>

  <br />
  <br />
  <br />
  <br />

  <div class="container">
    <h1 class="mb-3">Nuevo Registro de Infracción</h1>
  
    <div class="col-md-6 col-sm-6 mb-3 d-flex">
      <label for="txtNumerolicencia" class="col-md-3 form-label">N° LICENCIA</label>
      <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
    </div>

    <div class="col-md-6 col-sm-6 mb-3 d-flex">
      <label for="datefechainfraccion" class="col-md-3 form-label"
        >FECHA INFRACCION</label
      >
      <input type="date" class="col-md-9 form-control" id="datefechainfraccion" />
    </div>

    <div class="col-md-6 col-sm-6 mb-3 d-flex">
      <label for="datefechainfraccion" class="col-md-3 form-label"
        >CLASE/ CATEGORIA</label
      >
      <select class="col-md-9 form-control" id="exampleFormControlSelect1">
        <option>ALL</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <br />
    <br />

    <div class="col-md-12 col-sm-12 mb-3 border border-dark text-center">
      <label class="form-label">D.S. N°016-2020-MTC</label>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="datefechainfraccion" class="col-md-3 form-label">TIPO</label>
        <select class="col-md-9 form-control" id="exampleFormControlSelect1">
          <option>CONDUCTOR</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="datefechainfraccion" class="col-md-3 form-label">CODIGO</label>
        <select class="col-md-9 form-control" id="exampleFormControlSelect1">
          <option>V.3</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 mb-3">
      <label class="form-label">LUGAR DE INFRACCION</label>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label"
          >AV/JR/CALLE</label
        >
        <input
          type="text"
          class="col-md-9 form-control"
          id="txtNumerolicencia"
        />
      </div>

      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">REFERENCIA</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="datefechainfraccion" class="col-md-3 form-label"
          >DISTRITO</label
        >
        <select class="col-md-9 form-control" id="exampleFormControlSelect1">
          <option>CALLAO</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
    </div>
    <br /><br />
    <div class="col-md-12 col-sm-12 mb-3 border border-dark text-center">
      <label class="form-label">DATOS DE PLACA DE RODAJE</label>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">N°PLACA</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">N° DE SERIE</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">N° VIN</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>

      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">N° DE MOTOR</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">COLOR</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>

      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">MARCA</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">MODELO</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>

      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">PLACA VIGENTE</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">PLACA ANTERIOR</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>

      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">ESTADO</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">SEDE</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    
      <div class="col-md-6 col-sm-6 mb-3 d-flex">
        <label for="txtNumerolicencia" class="col-md-3 form-label">PROPIETARIO</label>
        <input type="text" class="col-md-9 form-control" id="txtNumerolicencia" />
      </div>
    </div>
  
    <button type="submit" class="btn btn-success">Grabar</button>
  </div>
  
</form>
